@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:600');

.backgroundStyle{
    background-color: #b6cfde;
}

.video {
    position: relative;
    z-index: -5;
    margin-bottom: -200px;
}

.wrapper-dropdown {
    margin-bottom: -50px;
}

.buttonStyle{
    z-index: 10;
    border-color: #39a6d7;
    background-color: white;
    font-size: 30px;
    border-radius: 30px;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
    color: #39a6d7;
}

.buttonStyle:hover {
    background-color: #39a6d7; /* Green */
    color: white;
    cursor: pointer;
}

.dropdown:hover{
    background-color: #39a6d7; /* Green */
    color: white;
    cursor: pointer;
}