@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:600');

.backgroundStyle{
    background-color: #b6cfde;
}

.video {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -5;
}

.wrapper-dropdown {
    position: absolute;
}

.buttonStyle{
    width: 220px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: 10;
    border-color: #39a6d7;
    background-color: white;
    font-size: 30px;
    border-radius: 30px;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
    color: #39a6d7;
}

.buttonStyle:hover {
    background-color: #39a6d7; /* Green */
    color: rgba(255, 248, 253, 0.93);
    cursor: pointer;
}

.dropdown:hover{
    background-color: #39a6d7; /* Green */
    color: #000000;
    cursor: pointer;
}